@import-normalize;

:root {
  font-size: 16px;
  --vermillion: rgb(192, 58, 0);
  --sandstone: rgb(239, 141, 99);
  --teal: rgb(22, 89, 74);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

/* Overrides bootstrap-- w/o this, the viewport is off */
.row {
  margin-right: 0;
  margin-left: 0;
}

.light {
  background-color: antiquewhite;
}

.dark {
  background-color: rgb(22, 89, 74);
}

/* Sizes the 'Home' logo button on top left screen */
.homeLogo {
  width: 5vw;
  margin: 1rem 1.5rem;
}

h1 {
  font-size: 2rem;
  color: var(--vermillion);
  margin: 5px;
}

.sun {
  width: auto;
  color: rgb(239, 141, 99);
  position: absolute;
  top: 16px;
  right: 10px;
  padding: 0px;
}

.sunMobile {
  width: auto;
  color: rgb(239, 141, 99);
  position: absolute;
  top: 16px;
  left: 10px;
  padding: 0px;
}

.moon {
  width: 20px;
  color: rgb(239, 141, 99);
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 0px;
}

.moonMobile {
  width: auto;
  color: rgb(239, 141, 99);
  position: absolute;
  top: 35px;
  left: 13px;
  padding: 0px;
}

/* opaque box behind the hamburger */
.hamBorder {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 3px;
  top: 3px;
  /* margin: 10px 10px 0 0; */
  z-index: 9;
}

.hamTop {
  width: 25px;
  height: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #c03a00;
  display: inline-block;
}

.hamMiddle {
  width: 20px;
  height: 3px;
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: rgb(192, 58, 0);
  display: inline-block;
}

.hamBottom {
  width: 25px;
  height: 3px;
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: rgb(192, 58, 0);
  display: inline-block;
}

/* toggled through hamburger */
.menu {
  /* position: absolute;
  top: 55px;
  left: 55px; */
  display: none;
  opacity: 0;
}

.menuBg {
  height: 50vh;
  position: absolute;
  bottom: 30px;
  left: 20px;
  filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.5));
}

.menuText {
  position: absolute;
  top: 40px;
  left: 55px;
}

.menuWord {
  font-size: 36px;
  color: rgb(239, 141, 99);
}

.contact {
  font-size: 24px;
}

.menuBar {
  display: inline-block;
  width: 5px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50px;
  background-color: var(--sandstone);
}

.ribbonOne {
  width: 33vw;
  height: 100vh;
  position: absolute;
  top: -100vh;
  left: 0;
  background-color: rgb(22, 89, 74);
  display: inline-block;
}

.ribbonTwo {
  width: 34vw;
  height: 100vh;
  position: absolute;
  top: -100vh;
  left: 33vw;
  background-color: rgb(22, 89, 74);
  display: inline-block;
}

.ribbonThree {
  width: 33vw;
  height: 100vh;
  position: absolute;
  top: -100vh;
  right: 0;
  background-color: rgb(22, 89, 74);
  display: inline-block;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
