:root {
  --ember: rgb(107, 32, 0);
  --vermillion: rgb(196, 66, 26);
  --sandstone: rgb(249, 143, 69);
  --dusty: rgb(254, 222, 197);
  --mist: rgb(153, 207, 205);
  --aqua: rgb(18, 144, 142);
  --teal: rgb(22, 89, 74);
  --dropshadow: rgba(0, 0, 0, 0.5);
}

.aboutNav {
  width: 100vw;
  line-height: 1;
}

.aboutNav a {
  font-size: 12px;
  color: var(--ember);
}

.middleRow {
  border-right: 2px var(--vermillion) solid;
  border-left: 2px var(--vermillion) solid;
}

.aboutNav {
  content: "";
  background: linear-gradient(var(--dusty), var(--mist));
  height: 100px;
  width: 100vw;
  display: block;
}

.aboutSect {
  background-color: var(--mist);
  padding: 0 20px 0 20px;
}

.aboutSect h2 {
  color: var(--aqua);
}

.aboutSect p {
  color: var(--teal);
}

.pageBreak {
  background-color: var(--teal);
  width: 100vw;
  position: relative;
  left: -20px;
}

.burst {
  height: 500px;
  position: absolute;
  z-index: 9;
  bottom: 100px;
  left: -250px;
  overflow-x: hidden;
  opacity: 50%;
}
